main {
  display:block;
  width:90%;
padding:0 5%;
background-color:yellow;

}


main .accountData
{
  padding-bottom:10px;

  width:50%;
  height:100px;
  margin-left:calc(55%/2);
}


main .accountData strong
{
  color:red;
}

main p#NoNews  {
  color:white;
  margin-top:10px;
  margin-left:calc(50%/2);
  font-size:16pt;
}

main p#LinkAddNews
{
  margin-top:10px;
  margin-left:calc(80%/2);
  color:green;
  font-weight:bold;
  font-size:14pt;
}

main  .Bottom_content {

  width:50%;
  height:500px;
display:block;
flex-direction:row;
flex-wrap: wrap;
  justify-content: space-between;
margin-left:calc(55%/2);
grid-template-columns: repeat(3,1fr);
  margin-top:20px;
  overflow:scroll;
}

main .Bottom_content .Container_Bottom_content
{
  width:100%;
  border:2px solid silver;
  height:550px;
overflow:hidden;
cursor:pointer;

margin-top:10px;
margin-bottom:5px;

}

main .Bottom_content  .Container_Bottom_content_photo {
  width:100%;
  height:400px;

  overflow:hidden;

}

main .Bottom_content  .Container_Bottom_content_photo img {
  width:100%;
  height:100%;
  transition:transform 0.5s;

}

main .Bottom_content .Container_Bottom_content:hover .Container_Bottom_content_photo img {
  transform:scale(1.1);
}

main .Bottom_content .Container_Bottom_content:hover .Container_Bottom_content_text p {
  text-decoration: underline;
}


main .Bottom_content  .Container_Bottom_content_text {
  width:100%;
height:200px;


}




main .Bottom_content  .Container_Bottom_content_text p {
  font-weight:800;
  color:#FAFAD2;
  margin-top:10px;
}

main .Bottom_content  .Container_Bottom_content_text p:last-child {
  font-weight:800;
  color:#FAFAD2;
  margin-top:30px;
}
