main {
  background-color:yellow;
  padding-top:15px;
  padding-bottom:15px;
}

form {
  border: 2px solid red;
  width:25%;
  margin-left:30%;
  padding:5%;



}

form p:not(.file) {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:red;
}

form p label {
  margin-top:5px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:red;
}

form p:not(:first-child)
{
  margin-top:25px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;

}

form p textarea {
  width:300px;
  border:2px solid black;
  border-radius:10px;
}

form p input:not(input[type="button"],input[type="file"]) {
  width:300px;
  height:25px;
  border:2px solid black;
  border-radius:10px;
}

form p input[type="button"]
{
  width:100px;
  height:25px;
  margin-left:62%;
  border-radius:5px;
  border:none;
  background-color:red;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:white;
}

form p.file
{
  border:2px solid blue;
  position:relative;
  width:50%;
  height:25px;
  overflow:hidden;
  text-align:center;

  border-radius:10px;
  line-height: 1.25;
    margin-left:42%;
  background-color:blue;


}

form p.file:hover {
  background-color:rgb(38, 110, 120);

}


form p input[type="file"]

{

  position:absolute;
  transform:scale(50);
  opacity: 0;
z-index:1;


}

form p input[type="file"]:hover {
  cursor:pointer;
}

/*
form p label[for="photo"]
{
position:absolute;
  width:100%;


  border-radius:10px;

  display:flex;
  justify-content: center;
  align-items: center;
  padding:5% 5%;
  border: 2px solid #9c3e30;
  background: #ec6550;
  color: #fff;
  margin-left:31%;
z-index:0;

}
*/


form p input[type="button"]:hover {
  cursor:pointer;
}

form p a {
  color:blue;
  padding-left:5px;
}
