main {
  background-color:yellow;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:5%;
}




h3,h1 {
  color:#0a0303fa;
}

h3#text {
  margin-top:5px;
}

.img
{

  width:80%;
height:600px;
}



img
{
  width:100%;
  height:100%;
}



textarea.addComment
{
  margin-top:2%;
  border-radius:10px;
  border:2px solid;
}

hr
{
  width:45%;
  margin-top:3%;
}


.commentBlock
{
  margin-top:2.5%;
}

.commentBlock p
{
margin-top:7px;
}




.commentBlock a
{
display:inline-block;
color:blue;
margin-top:5px;

}

.commentBlock a:not(:first-child)
{
  padding-left:10px;
}

.commentBlock a:hover
{
  cursor:pointer;
}

.UpdateComment
{
  border:2px solid black;
  width:500px;
  height:100px;
  box-shadow:2px 2px 5px 2px blue;
  border-radius:8px;
}


.UpdateClickBtn, .DeleteClickBtn {

  width:100px;
  height:25px;

  border-radius:5px;
  border:none;
  background-color:red;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:white;
}


.UpdateClickBtn:hover, .DeleteClickBtn:hover {
  cursor:pointer;
}
